data/xsd/login.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.imas.com"
xmlns="http://www.imas.com"
elementFormDefault="qualified">

<xs:element name="utenti" type="Tutenti" />
	
    <xs:complexType name="Tutenti">
      <xs:sequence>
        <xs:element name="utente" type="Tutente" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Tutente">
        <xs:sequence>
         <xs:element name="username" type="xs:string" />
         <xs:element name="password" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>